<div class="row">
  <%= link_to 'ジャンル一覧', root_path, class: 'margin-left--10px' %>
  <i class="fas fa-angle-right margin-left--10px"></i>
  <%= link_to @genre.name, tourist_spot_genre_search_path, class: 'margin-left--10px' %>
  <br>
</div>

<div class="row">
  <div class="page-header">
    <h3><%= @genre.name %></h3>
  </div>
</div>

<%= render 'tourist_spots', tourist_spots: @tourist_spots %>
