<div class="row">
  <div class="page-header">
    <h3>
      キーワード検索：<strong><%= @keyword %></strong>
    </h3>
  </div>
</div>

<div class="row">
  <%= render 'tourist_spots', tourist_spots: @tourist_spots %>
</div>
