<%= render 'detail', tourist_spot: @tourist_spot %>

<div class="row">
  <div class="col-md-3">
    <div class="page-header">
      <h3 class="text-center">
        天気予報
      </h3>
    </div>

    <p class="weather-text">
      <%= @tourist_spot.prefecture_name %>
    </p>
    <div id="weather"></div>

    <script>
      window.onload = function() {
        var api_key = gon.open_weather_api;
        var city = gon.prefecture_name;
        var url = 'http://api.openweathermap.org/data/2.5/forecast?q=' + city + ',jp&units=metric&APPID=' + api_key;
        $.ajax({
          url: url,
          dataType: "json",
          type: 'GET',
        })
        .done(function(data) {
          var insertHTML = "";
          var cityName = '<h2>' + data.city.name + '</h2>';
          $('#city-name').html(cityName);
          for (var i = 0; i <= 8; i = i + 2) {
            insertHTML += buildHTML(data, i);
          }
          $('#weather').html(insertHTML);
        })
        .fail(function(data) {
          console.log("失敗しました");
        });
      };
      
      function buildHTML(data, i) {
        var Week = new Array("（日）","（月）","（火）","（水）","（木）","（金）","（土）");
        var date = new Date (data.list[i].dt_txt);
        date.setHours(date.getHours() + 9);
        var month = date.getMonth()+1;
        var day = month + "月" + date.getDate() + "日" + Week[date.getDay()] + date.getHours() + "：00";
        var icon = data.list[i].weather[0].icon;
        var html =
        '<div class="weather-report">' +
          '<img src="http://openweathermap.org/img/w/' + icon + '.png">' +
          '<div class="weather-date">' + day + '</div>' +
          '<div class="weather-main">'+ data.list[i].weather[0].main + '</div>' +
          '<div class="weather-temp">' + Math.round(data.list[i].main.temp) + '℃</div>' +
        '</div>';
        return html
      };
    </script>
  </div>

  <div class="col-md-9 mx-auto">
    <div id="map" style='height: 550px; width: 100%; margin-top: 30px;'></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap">
    </script>
    <script>
      let map;
      let latitude = gon.latitude;
      let longitude = gon.longitude;

      function initMap() {
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: {
            lat: latitude,
            lng: longitude
          },
          zoom: 12,
        });

        marker = new google.maps.Marker({
          position: {
            lat: latitude,
            lng: longitude
          },
          map: map
        });
      }
    </script>
  </div>
</div>  
