<h3>ジャンルから探す</h3>
<div class="row">
    <% @genres.each do |genre| %>
      <%= link_to tourist_spot_genre_search_path(genre_search: genre.id) do %>
        <div class="col-md-3">
          <%= attachment_image_tag genre, :genre_image, fallback: 'no_image.jpg', size: '150x150' %>
          <p><%= genre.name %></p>
        </div>
      <% end %>
    <% end %>
</div>
      