<div class="row">
  <div class="page-header">
    <h3>タグ別</h3>
  </div>
</div>
<div class="row">
  <% @tags.each do |tag| %>
    <%= link_to tag, user_tourist_spot_tag_search_path(tag_name: tag.name), class: 'label label-default margin-left--10px' %>
  <% end %>
</div>

<%= render 'tourist_spots', tourist_spots: @tourist_spots %>

<div class="row">
  <%= paginate @tourist_spots %>
</div>