// Place all the styles related to the tourist_spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.weather-title,
#weather {
  text-align: center;
}

.weather-text {
  text-align: center;
  font-size: 20px;
}