<div class="row">
  <%= render '/tourist_spots/detail', tourist_spot: @tourist_spot %>
</div>
<div class="row">
  <%= render 'reviews', reviews: @tourist_spot_reviews %>
</div>

<div class="row">
  <% if @reviews.present? %>
    <%= paginate @reviews %>
  <% end %>
</div>
