<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="logo">
          <i class="fas fa-piggy-back"></i>
          Toravel log
        </span>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <ul class="menu">
          <span>Menu</span>
          <li>
            <%= link_to root_path, 'data-turbolinks': false do %>
              <i class="fas fa-home"></i>
              トップ
            <% end %>
          </li>
          <li id='introjs-step6'>
            <%= link_to user_new_tourist_spot_path, 'data-tubolinks': false do %>
              <i class="fas fa-pen-square"></i>
              観光地登録
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>